.iconButton {
  background-color: rgb(var(--input-bg));
  display: grid;
  place-items: center;
  padding: 1.3rem;
  border-radius: 0.8rem;
  cursor: pointer;

  .iconBox {
    width: 1.8rem;
    height: 1.8rem;
    display: grid;
    place-items: center;

    .icon {
      width: 80%;
      height: 80%;
    }
  }
}
