.Dropdown {
  .label {
    font-size: 1.5rem;
    font-family: "gilroy-medium";
    color: rgb(var(--text-primary));
    margin-bottom: 0.5rem;
  }

  .field {
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(var(--text-primary));
    border-radius: 0.8rem;
    padding: 0.85rem 1.6rem;
    padding-right: 1rem;
    background-color: rgb(var(--input-bg));
    border: none;
    gap: 1rem;
    width: 100%;

    .valueText {
      font-size: 1.3rem;
      font-family: "gilroy-regular";
    }

    .placeholderText {
      color: rgb(var(--tertiary-text-color));
    }

    .closeIcon {
      width: 1rem;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .close {
        width: 100%;
      }
    }

    .iconBox {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 35%;
        height: 22%;
        transition: 0.3s;
        transform: rotate(180deg);
      }

      .openIcon {
        transform: rotate(0deg);
      }
    }
  }

  .errorBorder {
    border: 0.1rem solid rgb(var(--error));
  }

  .error {
    font-size: 1.25rem;
    font-family: "gilroy-medium";
    color: rgb(var(--error));
    margin-top: 0.5rem;
  }
}

.dropdownMenuContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: rgb(var(--input-bg));
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  max-height: 30rem;
  height: fit-content;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  .dropdownItem {
    list-style: none;
    text-align: start;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    line-height: 100%;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(var(--text-primary));
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;

    &:hover {
      background-color: rgb(var(--secondary), 0.05);
      transition: 0.3s;
    }

    .dropdownItemWithCheckBox {
      font-size: 1.4rem;
      line-height: 125%;
      color: rgb(var(--text-primary));
    }
  }

  .dropdownElementActive {
    background-color: rgb(var(--secondary));
    color: rgb(var(--black));

    &:hover {
      background-color: rgb(var(--secondary));
    }
  }

  .noDataFound {
    text-align: center;
    list-style: none;
    margin-top: calc(10px * var(--u));
  }
}
