.deleteBannerModal {
  display: flex;
  flex-direction: column;

  .deleteBannerHeading {
    margin-bottom: 1rem;
    color: rgb(var(--text-primary));
    font-size: 1.75rem;

    .deleteBannerName {
      text-transform: capitalize;
      font-family: "gilroy-medium";
      font-size: inherit;
      color: inherit;
    }
  }

  .deleteBannerMessage {
    margin-bottom: 3.5rem;
    color: rgb(var(--text-primary), 0.5);
    font-size: 1.75rem;
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
}
