.favorites {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* ---------------------------------------------- */
.renderProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 850px) {
  .renderProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .renderProducts {
    grid-template-columns: 1fr;
  }
}
