/* HTML: <div class="loader"></div> */

.ButtonLoader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(var(--loader-background-color));
  border-right-color: rgb(var(--loader-foreground-color));
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(2turn);
  }
}
